*{
    color: white;
    margin: 0;
    padding:0;
    background-image: url(https://wallpaperaccess.com/full/1433800.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    }
